dhat-heap.json

/crates/minnowsnap-assets/assets_icons/
/target/
/deploy/
/output/
/er/
/scripts/__pycache__/
/docs/superpowers

/legacy/qt/cpp/.idea/
/legacy/qt/cpp/cmake-build-*/

### macOS template
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Rust template
debug/
target/
**/*.rs.bk
*.pdb
.idea/
Cargo.lock

### Windows template
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk


# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
